@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --color-principal: cyan;
    --font:"Poppins", system-ui;
}

/* header */

/* nav bar */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 11vh;
    background-color: aliceblue;
    box-shadow: 0 10px 12px rgba(128, 128, 128, 0.425);
    position: fixed;
    font-family: var(--font);
    padding: 1px;
    user-select: none;
}

nav h1{
    font-size: 1.5rem;
}

nav ul{
    display: none;
    text-transform: capitalize;
}

nav ul li{
    padding: 15px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

nav .tele{
    display: none;
    padding: 16px 5px;
}

nav .tele a i{
    background-color: rgb(0, 255, 0);
    padding: 5px;
    border-radius: 60px; 
    margin-right: 5px;
}

nav .mobile{
    display: flex;
    padding: 5px;
}

nav .mobile .menu{
    font-size: 2.1rem;
}

nav .close{
    display: none;
}
  
 /* mobile  */

 @media  screen and (max-width: 450px){
    nav{
        height: 12vh;
    }
 }







/* pc portable */

@media  screen and (min-width: 920px) {
    nav ul,
    nav .tele{
        display: flex;
    } 

    nav .mobile{
        display: none;
    }

}


/* desk-top */

@media  screen and (max-width: 1714px){
    nav h1{
        padding: 10px 0px ;
    }

    nav{
        padding: 15px;
    }


}

























