@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #328da8;
  --main-color-hover: #0088ff;
  --second-color: #e05206;
  --white-color: #fff;
  --bg-color-white: #d3d3d3;
  --black-color: #000;
  --bg-color-black: #212121;
  --bg-lineair: linear-gradient(
    125deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

html,
body {
  scroll-behavior: smooth;
  min-height: 120vh;
}

img {
  user-select: none;
}

.flex {
  display: flex;
}

.span{
  background: var(--bg-lineair);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 10vh 8%;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-hover);
}

::selection {
  color: var(--white-color);
  background: var(--main-color);
}

header {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

header #particles-js {
  position: absolute;  
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /* background: var(--main-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
  z-index: 99;
  pointer-events: none;
  user-select: none;
}

.active {
  background: var(--main-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation: to-bottom 0.6s ease forwards;
}

nav .navbar i {
  cursor: pointer;
}

nav .navbar {
  height: 100%;
  /* max-width: 1250px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 8%;
}

.navbar .logo img {
  height: 60px;
  object-fit: cover;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
  pointer-events: fill;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav .navbar .links li a:hover {
  background: linear-gradient(
    to top,
    var(--main-color-hover),
    var(--black-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--white-color);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--main-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

.home .container {
  position: absolute;
  color: var(--white-color);
  pointer-events: none;
}

.home .container .content-img img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  filter: drop-shadow(5px 13px 20px var(--main-color-hover));
}

.home .container .content-text {
  line-height: 1.5;
  width: 50%;
  color: var(--white-color);
  padding: 20vh 0 0;
}

.home .container .content-text h3 {
  background: var(--bg-lineair);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}

.home .container .content-text h1 {
  padding: 5px 0 10px;
  font-size: 1.6rem;
}

.home .container .content-text p {
  /* line-height: 1; */
  font-size: 1rem;
  padding: 0 0 20px;
}

.home .container .content-text .btn {
  background: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: 0 0 10px var(--main-color);
  transition: 0.3s;
  pointer-events: fill;
}

.home .container .content-text .btn:hover {
  background: transparent;
}

.home .container .content-text .btn:active {
  transform: scale(0.98);
}

.features {
  width: 100%;
  background: var(--bg-color-white);
}

.features .logos {
  overflow: hidden;
  padding: 50px 0;
  background: var(--bg-color-white);
  white-space: nowrap;
  position: relative;
}

.features .logos:before,
.features .logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.features .logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--white-color)
  );
}

.features .logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--white-color)
  );
}

.features .logos:hover .logos-slide {
  animation-play-state: paused;
}

.features .logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.features .logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.title {
  text-align: center;
  padding: 25px 0;
  font-size: large;
}

.about {
  /* height: 100vh; */
  width: 100%;
  padding: 0 5%;
  overflow: hidden;
  /* background: red ; */
}

.about .container {
  padding-right: 15%;
}

.about .container .content-img img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .container .content-text {
  max-width: 450px;
}

.about .container .content-text h2 {
  padding-bottom: 10px;
  font-weight: 600;
}

.about .container .content-text h2 span {
  background: var(--bg-lineair);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about .container .content-text .par {
  gap: 50px;
  align-items: center;
  padding-bottom: 10px;
}

.about .container .content-text .par .icon i {
  padding: 7px;
  background: #ec642a;
  border-radius: 30px;
  font-size: 2rem;
  color: var(--white-color);
  align-items: center;
}

.about .container .content-text .par .i-2 i {
  background: #94c120;
  padding: 7px 8px 8px 9px;
}

.about .container .content-text .par .i-3 i {
  background: #00b1c3;
}

.about .container .content-text .par .i-4 i {
  background: #e64646;
  padding: 5px 5px 5px 7px;
}

.about .container .content-text .par .para h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.about .container .content-text .par .para p {
  font-size: 0.8rem;
  color: #636164;
}







































































@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: var(--main-color);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: var(--white-color);
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: var(--white-color);
    transition: 0.5s;
    pointer-events: fill;
  }

  .sidebar-logo i:hover {
    color: var(--black-color);
  }

  .navbar .bx-menu:hover {
    color: var(--main-color);
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

/* keyframes  */

@keyframes to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
