@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: inherit;
  text-decoration: none;
  list-style: none;
  cursor: none;
}

/* Colors */

:root {
  --main-color: #328da8;
  --main-color-hover: #0088ff;
  --second-color: #e05206;
  --white-color: #fff;
  --bg-color-white: #d3d3d3;
  --black-color: #000;
  --bg-color-black: #212121;
  --bg-lineair: linear-gradient(
    125deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-hover);
}

::selection {
  color: var(--white-color);
  background: var(--main-color);
}

html,
body {
  scroll-behavior: smooth;
  min-height: 120vh;
}

img {
  user-select: none;
}

.flex {
  display: flex;
}

.span {
  background: var(--bg-lineair);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0vh 8%;
}

.title {
  text-align: center;
  padding: 25px 0;
  font-size: large;
}

/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

/* BG Particles */

header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /* background: var(--main-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
  z-index: 99;
  pointer-events: none;
  user-select: none;
  background: var(--main-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

nav .navbar i {
  cursor: pointer;
}

nav .navbar {
  height: 100%;
  /* max-width: 1250px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 8%;
}

.logo img {
  height: 60px;
  object-fit: cover;
  pointer-events: fill;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
  pointer-events: fill;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

nav .navbar .links li a img{
  display: flex;
  width: 50px;
  align-items: center;
}

nav .navbar .links li a:hover {
  background: linear-gradient(
    to top,
    var(--main-color-hover),
    var(--black-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--white-color);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--main-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

/* HOME */

.home .container {
  position: absolute;
  color: var(--white-color);
  pointer-events: none;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
}

.home .container .content-img {
  /* width: 100%; */
  padding-top: 50px;
  animation: tl3-o-hbt 5s ease-in-out infinite;
  animation-delay: 3s;
}

.home .container .content-img img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  filter: drop-shadow(0 0 20px #328da885);
}

.home .container .content-text {
  line-height: 1.5;
  width: 50%;
  color: var(--white-color);
  padding: 20vh 0 0;
}

.home .container .content-text h3 {
  background: linear-gradient(104deg, rgba(0,136,255,1) 0%, rgba(0,0,0,1) 100%);  background-clip: text;
  color: transparent;
  font-size: 1.4rem;
}

.home .container .content-text h1 {
  padding: 5px 0 10px;
  font-size: 1.6rem;
}

.home .container .content-text p {
  /* line-height: 1; */
  font-size: 1rem;
  padding: 0 0 20px;
}

.home .container .content-text .btn {
  background: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: capitalize;
  box-shadow: 0 0 10px var(--main-color);
  transition: 0.3s;
  pointer-events: fill;
}

.home .container .content-text .btn:hover {
  background: transparent;
}

.home .container .content-text .btn:active {
  transform: scale(0.98);
}

/* FEATURES */

.features {
  width: 100%;
  background: var(--bg-color-white);
}

.features .logos {
  overflow: hidden;
  padding: 50px 0;
  background: linear-gradient(
    321deg,
    rgba(251, 251, 251, 1) 0%,
    rgba(185, 225, 255, 1) 4%,
    rgba(147, 207, 255, 1) 12%,
    rgba(118, 196, 255, 1) 23%,
    rgba(100, 186, 255, 1) 30%,
    rgba(18, 177, 223, 1) 53%,
    rgba(0, 162, 218, 1) 58%,
    rgba(2, 64, 89, 1) 92%,
    rgba(3, 46, 62, 1) 97%,
    rgba(0, 34, 62, 1) 100%
  ); /* background: var(--bg-color-white); */
  white-space: nowrap;
  position: relative;
}

.features .logos:before,
.features .logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.features .logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #00000065);
}

.features .logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000000c4);
}

.features .logos:hover .logos-slide {
  animation-play-state: paused;
}

.features .logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.features .logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* ABOUT */

.about {
  /* height: 100vh; */
  width: 100%;
  padding: 0 5%;
  overflow: hidden;
  background: #f0f8ff;
}

.about .container {
  padding: 0 12%;
}

/* .about .container .content-img{
  padding-top: 50px;
} */

.about .container .content-img img {
  height: 470px;
  width: 470px;
  object-fit: cover;
}

.about .container .content-text {
  max-width: 450px;
}

.about .container .content-text h2 {
  padding-bottom: 10px;
  font-weight: 600;
}

.about .container .content-text h2 span {
  background: var(--bg-lineair);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about .container .content-text .par {
  gap: 50px;
  align-items: center;
  padding-bottom: 10px;
}

.about .container .content-text .par .icon i {
  padding: 7px;
  background: #ec642a;
  border-radius: 30px;
  font-size: 2rem;
  color: var(--white-color);
  align-items: center;
}

.about .container .content-text .par .i-2 i {
  background: #94c120;
  padding: 7px 8px 8px 9px;
}

.about .container .content-text .par .i-3 i {
  background: #00b1c3;
}

.about .container .content-text .par .i-4 i {
  background: #e64646;
  padding: 5px 5px 5px 7px;
}

.about .container .content-text .par .para h4 {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.about .container .content-text .par .para p {
  font-size: 0.8rem;
  color: #636164;
}

/* SERVICES */

.services {
  background-color: #fff;
}

.services .container {
  margin: auto;
  padding: 0 5%;
}

.services .cards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services .cards .card {
  display: none;
}

.services .cards .visible {
  display: block;
}

.services .card {
  background: var(--main-color);
  padding: 35px 20px;
  border-radius: 10px;
  transition: 0.6s;
}

.services .card:hover {
  box-shadow: 2px 2px 15px 1px #000000b7;
  transform: scale(1.02);
}

.services .card img {
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

/* .services .card img:hover{
} */

.services .card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.services .card p {
  color: #c9c5c5;
}

.services .load-more-container {
  margin: 20px;
  text-align: center;
}

.services .load-more-button {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  /* cursor: pointer; */
  text-align: center;
}

.services .load-more-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.services .load-more-button span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #234567;
}

.services .load-more-button:hover:before {
  width: 100%;
  background: #b1dae7;
}

.services .load-more-button:active {
  transform: scale(0.95);
}

.services .loader {
  display: none;
  margin: 10px auto;
}

/* NIVEAU */

.niveau {
  background: #f0f8ff;
  margin-top: 25px;
}

.niveau .cards-niveau {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.niveau .card-wrapper {
  max-width: 1250px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.niveau .card-list .card-item {
  list-style: none;
}

.niveau .card-list .card-item .card-link {
  display: block;
  background: var(--white-color);
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.niveau .card-list .card-item .card-link p {
  color: #646464;
  font-size: 1rem;
}

.niveau .card-list .card-item .card-link:active {
  cursor: grabbing;
}

.niveau .card-list .card-item .card-link:hover {
  border-color: var(--main-color);
}

.niveau .card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.niveau .card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}

.niveau .card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: var(--main-color);
  margin: 30px 0 5px;
  background: none;
  /* cursor: pointer; */
  border-radius: 50%;
  border: 2px solid var(--main-color);
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.niveau .card-list .card-link:hover .card-button {
  color: var(--white-color);
  background: var(--main-color);
}

.niveau .card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: var(--main-color);
}

.niveau .card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.niveau .card-wrapper .swiper-slide-button {
  color: var(--main-color);
  margin-top: -35px;
}

.pc {
  display: block;
}

.niveau .phone {
  display: none;
}

/* CONTACT */

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}

.contactForm {
  display: grid;
  gap: 3em;
}

form {
  width: 100%;
  margin-top: 3em;
}

.para {
  color: var(--main-color);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2 {
  text-align: center;
}

.input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: 0.9rem;
  padding: 1em;
  outline: none;
  background-color: #f0f8ff;
  color: var(--balck-color);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 1em;
}

.input:focus {
  border: 1px solid var(--main-color);
}

.input::placeholder {
  text-transform: capitalize;
}

.submit {
  background-color: var(--main-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  /* cursor: pointer; */
  width: 95%;
  transition: 0.3s;
}

.submit:hover {
  background-color: var(--main-color-hover);
  color: #353535;
}

.submit:active {
  transform: scale(0.98);
}

.map-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.mapBg {
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}

.method {
  display: flex;
  align-items: center;
}

.method .hh {
  color: #000;
}

.method .hh a:hover {
  color: var(--main-color);
  transition: 0.3s ease;
}

.contactIcon {
  font-size: 2rem;
  color: var(--main-color);
  width: 70px;
}

/* FOOTER */

footer {
  position: relative;
  background: var(--main-color);
  margin-top: 50px;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin-bottom: 50px;
}

/* .content .top .logo-details img {
  color: #fff;
  font-size: 30px;
} */

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  /* height: 40px;
  width: 40px; */
  margin: 0 8px;
  padding: 8px;
  /* padding: 4px 10px 0px 9px; */
  display: flex;
  border-radius: 60px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267b2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}

.top .media-icons a:nth-child(2):hover {
  color: #ee2a7b;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

footer .content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

footer .content .link-boxes .box li {
  margin: 6px 0;
}

footer .content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

footer .content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .content .link-boxes .input-box {
  margin-right: 55px;
}

footer .link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}

footer .link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}

footer .link-boxes .input-box input[type="button"] {
  background: #fff;
  color: var(--main-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

footer .input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: var(--main-color);
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* Back to top */

.scrollup {
  display: flex;
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--main-color);
  /* opacity: 0.8; */
  padding: 7px;
  border-radius: 0.4rem;
  z-index: 1000;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--main-color-hover);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll {
  bottom: 3rem;
}

/* MEDIA QUERIES */

/* MIN-WHIDTH */

@media (min-width: 900px) {
  nav {
    background: transparent;
    box-shadow: none;
  }

  .active {
    background: var(--main-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
    animation: to-bottom 0.6s ease forwards;
  }
}

@media (min-width: 800px) {
  .contact {
    max-width: 1100px;
  }
  .contactForm {
    grid-template-columns: 1fr 1fr;
  }

  .contactMethod {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* MAX-WHIDTH */

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

@media (max-width: 1380px) {
  .home .container {
    padding-top: 3vh;
  }

  header {
    height: 90vh;
  }
}

@media (max-width: 1200px) {
  .about .container {
    padding: 0 5%;
  }
}

@media (max-width: 1160px) {
  .home {
    flex-direction: column;
    padding: 0;
    /* text-align: center; */
    align-items: center;
    /* width: 100%; */
  }

  /* .home .container {
    width: 100%;
    text-align: center;
  } */

  /* header {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  } */

  .home .container .content-text h3 {
    font-size: 1rem;
  }

  .home .container .content-text h1 {
    font-size: 1.1rem;
  }

  .home .container .content-text p {
    font-size: 0.8rem;
  }

  .home .container .content-text button {
    /* justify-content: center; */
    text-align: center;
  }

  header {
    min-height: 140vh;
  }
}

@media (max-width: 1000px) {
  .about .container {
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
  }

  .about .container .content-text {
    max-width: 950px;
  }
}

@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: var(--main-color);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: var(--white-color);
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: var(--white-color);
    transition: 0.5s;
    pointer-events: fill;
  }

  .sidebar-logo i:hover {
    color: var(--black-color);
  }

  .navbar .bx-menu:hover {
    color: var(--black-color);
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }

  .services .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .home .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .home .container .content-text {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
  }
}

@media (max-width: 768px) {
  .niveau .card-wrapper {
    margin: 0 10px 25px;
  }

  /* #navbar .nav-links .links{
    position: relative;

  } */

  .niveau .card-wrapper .swiper-slide-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .services .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .niveau .pc {
    display: none;
  }

  .niveau .phone {
    display: block;
  }
}

@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 300px;
  }
}

/* keyframes  */

@keyframes to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes tl3-o-hbt {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px);
  }
  100% {
    transform: translateY(0);
  }
}
